<<<<<<< HEAD
=======
<!-- =========================
     FOOTER 
============================== -->
>>>>>>> parent of f02c599... check
<section id="nous-contacter">
<footer>

<div class="container">
	
	<div class="contact-box wow rotateIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- CONTACT BUTTON TO EXPAND OR COLLAPSE FORM -->
<<<<<<< HEAD
		<div align="center">
  <h3>Send A message to Us</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>

=======
		
>>>>>>> parent of f02c599... check
		<a class="btn contact-button expand-form expanded"><i class="icon_mail_alt"></i></a>
		
		
	</div>
	<!-- /END CONTACT BOX -->
	
	<!-- LOGO -->
	<%= image_tag 'logo-black.png', class: 'responsive-img' %>
	
	<!-- SOCIAL ICONS -->
	<ul class="social-icons">
		<li><a href=""><i class="social_facebook_square"></i></a></li>
		<li><a href=""><i class="social_twitter_square"></i></a></li>
		<li><a href=""><i class="social_pinterest_square"></i></a></li>
		<li><a href=""><i class="social_googleplus_square"></i></a></li>
		<li><a href=""><i class="social_instagram_square"></i></a></li>
		<li><a href=""><i class="social_dribbble_square"></i></a></li>
		<li><a href=""><i class="social_flickr_square"></i></a></li>
	</ul>
	
	<!-- COPYRIGHT TEXT -->
	<p class="copyright">
		Copyright © 2014 Sweetbid | Tout droits réservés 
	</p>

</div>
<!-- /END CONTAINER -->
 
</footer>
<!-- /END FOOTER -->

</section>