<!doctype html>
<html lang="en">
<head>
<title>Sweetbid</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
<meta name="description" content="Responsive Bootstrap App Landing Page Template">
<meta name="keywords" content="Kane, Bootstrap, Landing page, Template, App, Mobile">
<meta name="author" content="Mizanur Rahman">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>

<body>
	<%= yield %>

		<%= render "layouts/preloader" %>

<header class="header" id="home">
	<div class="color-overlay"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->
		<%= render "layouts/navigation" %>
		<div class="container">
			<%= render "pages/logo_header" %>
			<%= render "pages/home_page" %>	
		</div>
	</div>
</header>

<%= render "pages/qui_sommes_nous" %>
<%= render "pages/nos_services" %>
<%= render "pages/comment_ca_marche" %>
<%= render "pages/nos_realisations" %>	
<%= render "pages/nous_contacter" %>

<!-- =========================
     SCRIPTS 
============================== -->

<%= javascript_include_tag 'application' %>


</body>
</html>